{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static '/styles.css' %}" />
        <title>Ajout emprunteur</title>
</head>
<body>
        <h1>Création emprunteur</h1>
        <a href="/list_emprunt/">Retour</a>
        <section>
                <h2>Ajout un emprunteur</h2>
                <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {{ creationemprunteur }}
                        <input type="submit" value="Envoyer">
                </form> 
        </section> 
</body>
</html>